@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.navbar-main {
  padding-top: 45px;
  font-family: "Outfit", sans-serif;
  z-index: 10000;
}

.navbar-main, .navbar-main:before, .navbar-main:after{
  transition: all .5s;
}

.navbar-main .navbar-brand img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  width: 248px;
  height: 76px;
}
@media screen and (max-width: 992px) {
  .navbar-main {
    padding-top: 5px;
    background: #D49537;
  }
}
.navbar-main #NavMenu .navbar-nav .nav-item {
  margin-right: 5px;
  margin-left: 20px;
}
.navbar-main #NavMenu .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s color ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.navbar-main #NavMenu .navbar-nav .nav-item .nav-link:hover {
  color: #edcd93;
}
.navbar-main #NavMenu .navbar-nav .nav-item .nav-link:hover::after {
  content: "";
  padding-bottom: 3px;
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: -4px;
}
.navbar-main #NavMenu .navbar-nav .nav-item .btn-book {
  display: inline-block;
  color: #fff;
  border: 1px solid #D49537;
  border-radius: 11px;
  white-space: nowrap;
  margin-top: 5px;
}
.navbar-main #NavMenu .navbar-nav .nav-item .btn-book:hover {
  background-color: #D49537;
  border: 1px solid #fff;
}

.navbar-scrolled {
  padding-top: 0;
  background-color: #686868;
}

.section-header .jumbotron {
  background-image: url(../../images/homepage.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header .jumbotron {
    
    background-position: center;
  }
}
.section-header .jumbotron .display-0 {
  margin-top: 230px;
  padding-bottom: 31px;
}
.section-header .jumbotron .display-0 .display-1 {
  font-size: 57px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.section-header .jumbotron .display-0 .pf-1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.section-header .jumbotron .display-0 .btn-home {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  border: 1px solid #D49537;
  border-radius: 15px;
  transition: 0.3s background ease;
}
.section-header .jumbotron .display-0 .btn-home:hover {
  border: 1px solid #fff;
  background-color: #D49537;
}
@media screen and (max-width: 992px) {
  .section-header .jumbotron .display-0 {
    text-align: center;
    margin-top: 150px;
  }
  .section-header .jumbotron .display-0 .display-1 {
    font-size: 2.5em;
  }
  .section-header .jumbotron .display-0 .pf-1 {
    font-size: 1.1em;
  }
  .section-header .jumbotron .display-0 .btn-home {
    font-size: 0.6em;
  }
}

.section-welcome {
  margin-top: 30px;
}
.section-welcome .sisi-kiri {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.section-welcome .sisi-kiri img {
  padding: 0;
}
.section-welcome .card-welcome {
  padding-left: 10px;
  padding-right: 10px;
}
.section-welcome .card-welcome .welcome-content {
  color: #fff;
  border-radius: 10px;
  background-color: #D49537;
  padding: 20px 15px 25px 15px;
}
.section-welcome .card-welcome .welcome-content h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.4em;
  text-align: center;
  font-weight: 400;
}
.section-welcome .card-welcome .welcome-content hr {
  border-bottom: 2px solid #fff;
}
.section-welcome .card-welcome .welcome-content p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
@media screen and (min-width: 768px) {
  .section-welcome .card-welcome .welcome-content {
    padding: 20px 20px 25px 20px;
  }
  .section-welcome .card-welcome .welcome-content h2 {
    font-size: 2.2em;
  }
  .section-welcome .card-welcome .welcome-content p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) {
  .section-welcome {
    padding-right: 40px;
  }
  .section-welcome .sisi-kiri {
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .section-welcome .sisi-kiri img {
    padding: 0;
  }
  .section-welcome .card-welcome {
    margin-top: 35px;
    margin-bottom: 37px;
    padding: 0 35px 0 0;
    margin-left: 0;
    border-top: 1px solid #D49537;
    border-right: 1px solid #D49537;
    border-bottom: 1px solid #D49537;
  }
  .section-welcome .card-welcome .welcome-content {
    overflow: auto;
    padding-left: 90px;
    background-color: rgba(212, 149, 55, 0.95);
    margin-left: -70px;
    margin-top: 175px;
  }
  .section-welcome .card-welcome .welcome-content h2 {
    text-align: left;
    font-size: 40px;
  }
  .section-welcome .card-welcome .welcome-content hr {
    margin-left: 0;
  }
  .section-welcome .card-welcome .welcome-content p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1512px) {
  .section-welcome .card-welcome .welcome-content {
    margin-top: 95px;
  }
  .section-welcome .card-welcome .welcome-content h2 {
    font-size: 48px;
  }
  .section-welcome .card-welcome .welcome-content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .section-welcome .card-welcome .welcome-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 782px) {
  .section-welcome .card-welcome .welcome-content {
    margin-top: 0px;
    margin-bottom:0px;
  }
}

.section-where {
  margin-top: 122px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/homepage3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 20px 10px 30px 10px;
}
@media screen and (max-width: 600px) {
  .section-where {
    margin-top: 60px;
  }
}
.section-where .where-content h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.section-where .where-content hr {
  border-bottom: 2px solid #fff;
  padding: 0;
}
.section-where .where-content p {
  font-weight: 400;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1200px) {
  .section-where {
    height: 100vh;
    padding-top: 270px;
    padding-right: 70px;
    padding-bottom: 45px;
  }
  .section-where .where-content {
    margin-left: auto;
  }
  .section-where .where-content h1 {
    text-align: left;
    font-size: 50px;
    line-height: 70px;
  }
  .section-where .where-content hr {
    margin-left: 0;
  }
  .section-where .where-content p {
    font-size: 18px;
    line-height: 30px;
  }
}

.section-programs {
  margin-top: 63px;
  margin-bottom: 45px;
}
.section-programs h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.section-programs .tx-0 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.section-programs .programs-item {
  margin-top: 10px;
}
.section-programs .programs-item .card-program {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 310px;
  height: 350px;
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 280px 20px 20px 30px;
}

@media screen and (max-width: 600px) {
  .section-programs .programs-item .card-program {
    width: 340px;
    height: 350px;
  }
}

.section-programs .programs-item .card-program .card-title {
  font-family: "Outfit", sans-serif;
  color: #fff;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .section-programs .programs-item .card-program .card-title {
    font-weight: 700;
  }
}

.owl-nav {
  position: absolute;
  top: -4rem;
  right: 0;
}

.section-testimonial {
  margin-top: 65px;
  margin-bottom: 100px;
}
.section-testimonial h3 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-bottom: 27px;
}
@media screen and (min-width: 992px) {
  .section-testimonial h3 {
    font-size: 45px;
  }
}
@media screen and (max-width: 600px) {
  .section-testimonial .card-testimoni .img-testimonial {
    width: 30%!important;
  }
}
.section-testimonial .card-testimoni {
  background-color: #EDEDED;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  font-family: "Roboto", sans-serif;
}
.section-testimonial .card-testimoni .konten-testimoni {
  font-weight: 300;
  text-align: justify;
  margin-bottom: 0;
  font-size: 1.1em;
  color: #000;
}
.section-testimonial .card-testimoni a {
  font-size: 0.9em;
  padding: 0;
}
.section-testimonial .card-testimoni h4 {
  color: #000;
  font-weight: 500;
}
.section-testimonial .card-testimoni img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media screen and (min-width: 992px) {
  .section-testimonial .card-testimoni {
    padding: 100px 70px 70px 70px;
  }
  .section-testimonial .card-testimoni .konten-testimoni {
    font-size: 35px;
    line-height: 50px;
  }
  .section-testimonial .card-testimoni a {
    margin-top: 10px;
    line-height: 25px;
    font-size: 20px;
  }
  .section-testimonial .card-testimoni h4 {
    margin-top: 20px;
    font-size: 40px;
  }
}

.section-instagram {
  margin-top: 70px;
}
.section-instagram .card-instagram {
  border-radius: 10px;
  border: 1px solid #D49537;
  margin-bottom: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  padding-right: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.5vw;
}
@media screen and (min-width: 1300px) {
  .section-instagram .card-instagram {
    font-size: 40px;
  }
}
@media screen and (max-width: 992px) {
  .section-instagram .card-instagram {
    font-size: 2.5vw;
    margin-bottom: 5px;
  }
}

.section-header-book {
  margin-bottom: 50px;
}
.section-header-book .jumbotron {
  background-image: url(../../images/book1.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header-book .jumbotron {
    
    background-position: center;
  }
}
.section-header-book .jumbotron .display-0 {
  padding-top: 200px;
  padding-bottom: 385px;
  font-size: 87px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .section-header-book .jumbotron .display-0 {
    padding-top: 200px;
    text-align: center;
    font-size: 2.5em;
  }
}

.section-paragraf-book {
  margin-top: 43px;
  margin-bottom: 20px;
}
.section-paragraf-book .text-book {
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}

.section-form-book {
  margin-bottom: 41px;
  font-family: "Outfit", sans-serif;
}
.section-form-book .card .form-book .btn-book {
  background-color: #D49537;
  color: #fff;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-form-book .card .form-book .btn-book:hover {
  background-color: #b27a26;
}

.section-header-blog {
  margin-bottom: 50px;
}
.section-header-blog .jumbotron {
  background-image: url(../../images/blog1.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header-blog .jumbotron {
    
    background-position: center;
  }
}
.section-header-blog .jumbotron .display-0 {
  padding-top: 200px;
  padding-bottom: 385px;
  font-size: 87px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .section-header-blog .jumbotron .display-0 {
    padding-top: 200px;
    text-align: center;
    font-size: 2.5em;
  }
}

.section-list-blog {
  margin-top: 58px;
  margin-bottom: 20px;
}
.section-list-blog #more-blog {
  overflow: hidden;
  height: 730px;
}
.section-list-blog #more-blog a {
  text-decoration: none;
}
.section-list-blog #more-blog a .card-blog {
  border-radius: 11px;
  border: 3px solid transparent;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 27.5px;
  color: #fff;
  text-transform: uppercase;
  height: 350px;
  padding-left: 24px;
  padding-top: 230px;
  padding-right: 24px;
  padding-bottom: 40px;
}
.section-list-blog #more-blog a .card-blog:hover {
  border: 3px solid #D49537;
}
.section-list-blog #btn-more-blog {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 30px;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  color: #D49537;
  border: 1px solid #D49537;
  transform: 0.3s background ease;
}
.section-list-blog #btn-more-blog:hover {
  color: #fff;
  background-color: #D49537;
  border: 1px solid #fff;
}

.section-form-blog {
  margin-top: 17px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
}
.section-form-blog .container {
  padding-left: 50px;
  padding-right: 50px;
}
.section-form-blog .container h3 {
  font-weight: 500;
  font-size: 45px;
  border-bottom: 2px solid #D49537;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  .section-form-blog .container h3 {
    font-size: 2.1em;
    line-height: normal;
  }
}
.section-form-blog .container .text-form-blog {
  font-weight: 500;
  font-size: 25px;
  text-align: justify;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  .section-form-blog .container .text-form-blog {
    font-weight: 400;
    line-height: normal;
    font-size: 0.9em;
  }
}
.section-form-blog .container .btn-submit-form-blog {
  font-weight: 500;
  border-radius: 25px;
  background-color: #D49537;
  color: #fff;
}
.section-form-blog .container .btn-submit-form-blog:hover {
  background-color: #b27a26;
}

.section-blog-content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.section-header-contact {
  margin-bottom: 50px;
}
.section-header-contact .jumbotron {
  background-image: url(../../images/contact1.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header-contact .jumbotron {
    
    background-position: center;
  }
}
.section-header-contact .jumbotron .display-0 {
  padding-top: 200px;
  padding-bottom: 385px;
  font-size: 87px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .section-header-contact .jumbotron .display-0 {
    text-align: center;
    font-size: 2.5em;
  }
}

.section-contact-us {
  margin-top: 30px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 50px;
}
.section-contact-us .contact-kiri {
  margin-bottom: 10px;
}
.section-contact-us .contact-kiri h3 {
  font-size: 45px;
  font-weight: 500;
}
.section-contact-us .contact-kiri .contact-detail {
  font-size: 26px;
  font-weight: 500;
}
.section-contact-us .contact-kiri .contact-detail .contact-socmed {
  font-size: 32px;
  color: #5C5C5C;
  text-decoration: none;
  margin-left: 11px;
}
.section-contact-us .contact-kiri .contact-detail .contact-socmed:hover {
  color: #000;
}
.section-contact-us .contact-kanan {
  margin-bottom: 10px;
}

.section-form-contact {
  margin-top: 17px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
}
.section-form-contact .container {
  padding-left: 50px;
  padding-right: 50px;
}
.section-form-contact .container h3 {
  font-weight: 500;
  font-size: 45px;
  border-bottom: 2px solid #D49537;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  .section-form-contact .container h3 {
    font-size: 2.1em;
    line-height: normal;
  }
}
.section-form-contact .container .text-form-contact {
  font-weight: 500;
  font-size: 25px;
  text-align: justify;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  .section-form-contact .container .text-form-contact {
    line-height: normal;
    font-weight: 400;
    font-size: 0.9em;
  }
}
.section-form-contact .container .btn-submit-form-contact {
  font-weight: 500;
  border-radius: 25px;
  background-color: #D49537;
  color: #fff;
}
.section-form-contact .container .btn-submit-form-contact:hover {
  background-color: #b27a26;
}

.section-header-gallery {
  margin-bottom: 50px;
}
.section-header-gallery .jumbotron {
  background-image: url(../../images/book1.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header-gallery .jumbotron {
    
    background-position: center;
  }
}
.section-header-gallery .jumbotron .display-0 {
  padding-top: 200px;
  padding-bottom: 385px;
  font-size: 87px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .section-header-gallery .jumbotron .display-0 {
    text-align: center;
    font-size: 2.5em;
  }
}

.section-gallery {
  font-family: "Outfit", sans-serif;
  margin-bottom: 26px;
}
.section-gallery .gallery-category {
  margin-bottom: 20px;
  padding: 0 30px 0 30px;
}
.section-gallery .gallery-category .btn-category {
  padding: 10px 10px 10px 10px;
  font-weight: 500;
  color: #686868;
  text-decoration: none;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #cecece;
}
.section-gallery .gallery-category .btn-category:hover {
  background-color: #EDEDED;
  color: #000;
  border-bottom: 1px solid #cecece;
}
.section-gallery .gallery-category .active {
  color: #fff;
  background-color: #D49537;
  border-bottom: 1px solid transparent;
}
@media screen and (min-width: 768px) {
  .section-gallery .gallery-category .btn-category {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: transparent;
  }
  .section-gallery .gallery-category .btn-category:hover {
    background-color: transparent;
    border-bottom: 2px solid #D49537;
  }
  .section-gallery .gallery-category .active {
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #D49537;
  }
}
.section-gallery .gallery-list {
  margin-top: 10px;
}
.section-gallery .gallery-list img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 210px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.section-gallery .coba-gallery .coba-item {
  width: 303px;
  float: left;
  margin-bottom: 10px;
  height: 303px;
}
.section-gallery .coba-gallery .coba-item img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.section-recent-blog {
  margin-top: 40px;
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.section-recent-blog h2 {
  text-align: center;
  font-weight: 500;
}
.section-recent-blog .recent-blogs {
  margin-top: 20px;
}
.section-recent-blog .recent-blogs .card-recent-blogs {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 220px 30px 30px 30px;
  height: 320px;
}
.section-recent-blog .recent-blogs .card-recent-blogs .card-title {
  color: #fff;
  text-transform: uppercase;
}

.section-header-about {
  margin-bottom: 50px;
}
.section-header-about .jumbotron {
  background-image: url(../../images/about1.png);
  background-size: cover;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header-about .jumbotron {
    
    background-position: center;
  }
}
.section-header-about .jumbotron .display-0 {
  padding-top: 286px;
  padding-bottom: 385px;
  font-size: 87px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .section-header-about .jumbotron .display-0 {
    text-align: center;
    font-size: 8.2vw;
  }
}

.section-about-us {
  margin-top: 27px;
}
.section-about-us .about-us {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  color: #686868;
  margin-bottom: 50px;
}
.section-about-us .card-about-us {
  background-color: #D49537;
  border-radius: 11px;
  height: auto;
}
.section-about-us .card-about-us .sisi-kiri {
  padding-left: 0;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.section-about-us .card-about-us .sisi-kanan {
  color: #fff;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 150px;
  padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .section-about-us .card-about-us .sisi-kanan {
    padding-top: 20px;
  }
}
.section-about-us .card-about-us .sisi-kanan h2 {
  font-family: "Outfit", sans-serif;
  font-size: 45px;
  font-weight: 400;
}
.section-about-us .card-about-us .sisi-kanan hr {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}
.section-about-us .card-about-us .sisi-kanan .text-kanan {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.section-header-programs {
  margin-bottom: 50px;
}
.section-header-programs .jumbotron {
  background-image: url(../../images/programs1.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 385px;
  padding-top: 200px;
  height: 100vh;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .section-header-programs .jumbotron {
    
    background-position: center;
  }
}
.section-header-programs .jumbotron .display-0 {
  font-size: 87px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
.section-header-programs .jumbotron .btn-download {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 0;
  padding: 10px 15px 10px 15px;
  font-weight: 500;
  border: 1px solid #D49537;
  border-radius: 15px;
  transition: 0.3s background ease;
}
.section-header-programs .jumbotron .btn-download:hover {
  background-color: #D49537;
  border: 1px solid #fff;
}
@media screen and (max-width: 992px) {
  .section-header-programs .jumbotron {
    padding-top: 400px;
  }
  .section-header-programs .jumbotron .display-0 {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .section-header-programs .jumbotron {
    padding-top: 250px;
  }
  .section-header-programs .jumbotron .display-0 {
    text-align: center;
    font-size: 2.5em;
  }
}

.section-program-programs {
  margin-top: 24px;
  margin-bottom: 50px;
}
.section-program-programs .sisi-kiri img {
  margin-bottom: 20px;
  border-radius: 10px;
}
.section-program-programs .sisi-kanan .card-kanan {
  margin-bottom: 20px;
  color: #fff;
  overflow: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgba(212, 149, 55, 0.85);
}
@media screen and (min-width: 1200px) {
  .section-program-programs .sisi-kanan .card-kanan {
    margin-left: -100px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 0;
    min-height: 350px;
  }
  .section-program-programs .sisi-kanan .card-kanan h1 {
    line-height: 50px;
  }
  .section-program-programs .sisi-kanan .card-kanan .text-kanan {
    line-height: 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .section-program-programs .sisi-kanan .card-kanan h1 {
    text-align: center;
  }
}
.section-program-programs .sisi-kanan .card-kanan h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.section-program-programs .sisi-kanan .card-kanan hr {
  color: #fff;
  border-bottom: 2px solid #fff;
  margin-left: 0;
}
.section-program-programs .sisi-kanan .card-kanan .text-kanan {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-weight: 400;
}
.section-program-programs .kiri-sisi .card-kiri {
  margin-bottom: 20px;
  color: #fff;
  overflow: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgba(212, 149, 55, 0.85);
}
@media screen and (min-width: 1200px) {
  .section-program-programs .kiri-sisi .card-kiri {
    margin-top: 50px;
    margin-right: -100px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 0;
    min-height: 350px;
  }
  .section-program-programs .kiri-sisi .card-kiri h1 {
    line-height: 50px;
  }
  .section-program-programs .kiri-sisi .card-kiri .text-kanan {
    line-height: 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .section-program-programs .kiri-sisi .card-kiri h1 {
    text-align: center;
  }
}
.section-program-programs .kiri-sisi .card-kiri h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.section-program-programs .kiri-sisi .card-kiri hr {
  color: #fff;
  border-bottom: 2px solid #fff;
  margin-left: 0;
}
.section-program-programs .kiri-sisi .card-kiri .text-kanan {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .section-program-programs .kanan-sisi {
    z-index: -1;
  }
}
.section-program-programs .kanan-sisi img {
  margin-bottom: 20px;
  border-radius: 10px;
}
.section-program-programs .img-program img {
  height: 240px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.section-program-programs .card-content-program {
  background-color: #D49537;
  margin-bottom: 20px;
  color: #fff;
  overflow: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.section-program-programs .card-content-program h2 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.section-program-programs .card-content-program hr {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.section-program-programs .card-content-program p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-weight: 400;
}

.section-break-programs {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../../images/programs-break.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 70px;
  margin-bottom: 95px;
}
.section-break-programs .text-programs {
  text-align: center;
  color: #fff;
  font-family: "Outfit", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-break-programs .text-programs h1 {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 35px;
}
@media screen and (min-width: 992px) {
  .section-break-programs .text-programs {
    padding-top: 90px;
    padding-bottom: 70px;
  }
  .section-break-programs .text-programs h1 {
    font-size: 45px;
    line-height: 70px;
  }
}

.section-activity-programs {
  margin-top: 35px;
  margin-bottom: 50px;
}
.section-activity-programs .card-activity {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../../images/programs-activity.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.section-activity-programs .card-activity .text-activity {
  color: #fff;
  padding: 20px 30px 20px 30px;
}
.section-activity-programs .card-activity .text-activity h2 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
.section-activity-programs .card-activity .text-activity hr {
  border-bottom: 2px solid #fff;
}
.section-activity-programs .card-activity .text-activity p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 0.9em;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .section-activity-programs .card-activity .text-activity {
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 125px;
  }
  .section-activity-programs .card-activity .text-activity h2 {
    text-align: left;
    font-size: 50px;
  }
  .section-activity-programs .card-activity .text-activity hr {
    margin-left: 0;
  }
  .section-activity-programs .card-activity .text-activity p {
    font-size: 20px;
  }
}

.section-program-package {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Outfit", sans-serif;
}
.section-program-package .title-package {
  color: #000;
  font-weight: 400;
  font-size: 1.4em;
}
@media screen and (min-width: 992px) {
  .section-program-package .title-package {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.section-program-package .sisi-kiri {
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/package1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-program-package .sisi-kiri h3 {
  font-size: 1em;
  font-weight: 400;
}
.section-program-package .package-img{
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  position:absolute;
  border-radius: 3%;
}
.section-program-package .package-cards{ 
  height: 50vh;
}
.section-program-package li {
  font-size: 28px;
}
@media screen and (max-width: 600px){
  .section-program-package .package-cards{
    height: 50vh;
  }
  .section-program-package li {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .section-program-package .sisi-kiri {
    min-height: 445px;
  }
}
.section-program-package .sisi-kanan {
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/package2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-program-package .sisi-kanan h3 {
  font-size: 1em;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .section-program-package .sisi-kanan {
    min-height: 445px;
  }
  .section-program-package .sisi-kanan h3 {
    line-height: 55px;
    font-size: 40px;
  }
  .section-program-package .sisi-kanan li {
    font-size: 30px;
  }
}
.section-program-package .card-cta {
  box-shadow: 190px 154px 98px rgba(0, 0, 0, 0.01), 107px 86px 83px rgba(0, 0, 0, 0.05), 48px 38px 61px rgba(0, 0, 0, 0.09), 12px 10px 34px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  font-family: "Outfit", sans-serif;
  background-color: #EDEDED;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
.section-program-package .card-cta .kiri-sisi {
  color: #000;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: center;
}
.section-program-package .card-cta .kanan-sisi .btn-cta {
  background-color: #D49537;
  color: #fff;
  transition: 0.3s background ease;
}
.section-program-package .card-cta .kanan-sisi .btn-cta:hover {
  background-color: #b27a26;
}
@media screen and (min-width: 768px) {
  .section-program-package .card-cta {
    margin-top: 40px;
  }
  .section-program-package .card-cta .kiri-sisi {
    margin-bottom: 0;
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  .section-program-package .card-cta {
    padding: 30px 80px 20px 80px;
  }
  .section-program-package .card-cta .kiri-sisi {
    text-align: left;
    font-size: 26px;
  }
}

.footer-main {
  margin-top: 0px;
  padding-top: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  min-height: 350px;
  background-color: #686868;
}
.footer-main .foot-kiri img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 387px;
  height: 126px;
}
.footer-main .foot-kiri p {
  margin-top: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.footer-main .foot-kiri .input-group {
  padding-left: 0;
}
.footer-main .foot-kiri .input-group input {
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}
.footer-main .foot-kiri .input-group button {
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  background-color: #D49537;
  transition: 0.3s background ease;
  color: #fff;
}
.footer-main .foot-kiri .input-group button:hover {
  background-color: #b27a26;
}
.footer-main .foot-tengah h4 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 7px;
}
@media screen and (max-width: 992px) {
  .footer-main .foot-tengah h4 {
    margin-top: 24px;
  }
}
.footer-main .foot-tengah .list-unstyled li {
  margin-top: 11px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.footer-main .foot-tengah .list-unstyled li a {
  color: #fff;
  text-decoration: none;
}
.footer-main .foot-tengah .list-unstyled li a:hover {
  color: #c7882b;
}
.footer-main .foot-kanan h4 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 7px;
}
@media screen and (max-width: 992px) {
  .footer-main .foot-kanan h4 {
    margin-top: 24px;
  }
}
.footer-main .foot-kanan .list-unstyled .li-0 {
  margin-top: 11px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}
.footer-main .foot-kanan .list-unstyled .li-socmed {
  white-space: nowrap;
}
.footer-main .foot-kanan .list-unstyled .li-socmed a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s color ease;
}
.footer-main .foot-kanan .list-unstyled .li-socmed a:hover {
  color: #c7882b;
}
.footer-main .foot-bawah {
  overflow: auto;
  margin-top: 29px;
  color: #fff;
  background-color: #D49537;
  padding-top: 8px;
}/*# sourceMappingURL=main.css.map */