<!-- Instagram feed -->
<section class="section-instagram">

    <div class="container-fluid p-0">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-9a9ea3c0-3ce4-4424-8c2b-0d22e5629923"></div>
    </div>

    <!-- <a href="#" class="text-decoration-none text-dark">
        <div class="card-instagram col-5 col-md-4 mx-auto text-center">
            <i class="fab fa-instagram"></i> @tamanusadabali
        </div>
    </a>

    <div class="row no-gutters">
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig1.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig2.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig3.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig4.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig5.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig6.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig6.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig5.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig4.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig3.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig2.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
        <div class="col-md-2 col-4 p-1">
            <img src="{{ 'assets/frontend/images/ig1.png'|theme }}" alt="abc" class="img-fluid w-100">
        </div>
    </div> -->

</section>
    <!-- End Instagram Feed -->